@import "../variables.scss";

main.galerie {
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
    padding: 1rem;

    div {
      background-color: $primary-dark;
      font-size: small;
      text-align: center;
      padding: 0;
      margin: 0;
      border: solid $secondary 1px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100px;

      span {
        span {
          @keyframes blink {
            0% {
              opacity: 0.5;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0.5;
            }
          }

          animation: blink 1s linear infinite;

          &.first {
            animation-delay: 0s;
          }

          &.second {
            animation-delay: 0.33s;
          }

          &.third {
            animation-delay: 0.66s;
          }
        }
      }
    }
  }
}
