$primary-light: #ffffff;
$primary-dark: #333333;
$secondary: #ef1b17;
$tertiary: #6fc1f8;
$accent: #9d7cbf;

* {
  box-sizing: border-box;
  color-scheme: dark light;
  margin: 0;
  width: auto;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  color: $secondary;
  text-decoration: none;
  transition: all 300ms ease-in-out;

  &:hover {
    color: $tertiary;
    text-decoration: underline;
  }
}

body {
  background-color: $primary-light;
  color: $primary-dark;
  font-family: "Futura", "Bahnschrift", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (prefers-color-scheme: dark) {
    background-color: $primary-dark;
    color: #fff;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $primary-dark 0px 0px 10px 0px;
    background-color: $primary-light;

    @media (prefers-color-scheme: dark) {
      box-shadow: black 0px 0px 10px 0px;
      background-color: $primary-dark;
    }

    > a {
      margin: 0 1rem;
      display: flex;
      align-items: center;
      img {
        height: 4rem;
        border-radius: 100%;
        margin: 0 1rem;
      }
    }

    a {
      color: black;

      @media screen and (prefers-color-scheme: dark) {
        color: white;
      }

      &:hover {
        color: $secondary;
      }
    }

    nav {
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        li {
          margin: 0 1rem;
        }
      }
    }
  }

  main {
    padding: 1rem;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 800px;
    margin: auto;

    p {
      margin: 1rem 0;
    }
  }

  footer {
    color: $primary-dark;
    padding: 1rem;
    margin: 100px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 300;

    @media (prefers-color-scheme: dark) {
      color: $primary-light;
    }
  }
}
