@import "../variables";

main.agenda {
  ul {
    list-style: none;
    li {
      margin-bottom: 1em;
      border: 1px solid $primary-dark;
      background-color: rgba(darken($primary-light, 20%), 0.3);
      padding: 1em;
      border-radius: 5px;
      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (prefers-color-scheme: dark) {
        border: 1px solid $primary-light;
        background-color: rgba(darken($primary-dark, 20%), 0.3);
      }
    }
  }
}
